extends index

block content
   .inner
      table
         thead
            th Name
            th Email
         tbody
            each item in users
               tr
                  td #{item.name}
                  td #{item.email}
                  td
                     a(href=`/admin/accounts/edit/${item._id}`)
                        span Edit
