extends index

block content
      .inner
            .console_container
                  each page in h.adminNavMenu
                        .button_block
                              a(href=page.route)
                                    span #{page.title}