extends index

block content
   .inner
      table
         thead
            th Name
            th Email
         tbody
            each user in users
               tr
                  td #{user.name}
                  td #{user.email}
                  td
                     a(href=`/admin/accounts/edit/${user._id}`)
                        span Edit
