extends index

block content
   .console_container
      .button_block.post_block
         a(href=`/admin/posts`)
            span Review All Posts
      .button_block.add_block
         a(href=`/admin/add`)
            span Add Post