extends index

block content
   .inner
      table.post_table
         thead
            th Name
            th Email
         tbody
            each user in users
               tr.post_row
                  td.post_item #{user.name}
                  td.post_item #{user.email}
                  td.post_item.button_edit
                     a(href=`/admin/accounts/edit/${user._id}`)
                        span Edit
