extends index

include mixins/_postList
include mixins/_pagination

block content
  .post_table
    table
      thead
         tr
            th Post Title
            th Content
            th Author
            th Created
      tbody
         each post in posts
            tr
              +postList(post)
  +pagination(page, pages, count, pugRoute)
