extends index

include mixins/_curatedForm

block content
   .inner.curated_list
      table.post_table
         thead
            tr
               th Post Title
               th Content
         tbody.unselected_list
            each post in posts
               tr.post_row
                  +curatedForm(post)
   .inner.curated_selected_list
      table.post_table
         thead
            tr
               th Post Title
               th Content
         tbody.selected_list
            