extends index

include mixins/_postCard
include mixins/_pagination

block content
        .inner
                .posts 
                        each post in posts
                                +postCard(post)
                +pagination(page, pages, count, pugRoute)