extends index

block content
   form.form(action='/register' method='POST')
      label(for='name') Name
      input(type='text' name='name' placeholder='Adam Douglas')
      label(for='email') Email Address
      input(type='email' name='email' placeholder='adamdouglas@guide.com')
      label(for='password') Password
      input(type='password' name='password')
      label(for='password_confirm') Confirm Password
      input(type='password' name='password_confirm')
      input.button(type='submit' value='Register')