- const is_true = currentPath.includes('admin');
if !is_true
      .sidebarTabs
            input.sidebarTab.active(type='button' data-name='popular' value='Popular')
            input.sidebarTab(type='button' data-name='curated' value='Curated')
            input.sidebarTab(type='button' data-name='featured' value='Featured')
      .sidebarContent
            #popular.tabContent
                  h3 Popular Posts
                  p Here is where we insert links 
            #curated.tabContent
                  h3 Curated Posts
                  p Instead of this garble, it will be links to curated posts. I'm thinking multiple part blogs, for easier access
            #featured.tabContent
                  h3 Featured Posts
                  p I'm thinking that this piece will be content from other sites...?

