mixin postCard(post = {})
    .post
        .post_item
            p= post.title
        .post_item
            p= post.content
        .post_item
            p= post.author.name
        .post_item
            p= post.created