
.inner {
    width: $cardwidth;
    height: auto;
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
}

.console_container {
    display: flex;
    flex-direction: row;

    .button_block {
        width: 200px;
        height: 200px;
        margin: 10px;
        padding: 5px;
        font-size: 12px;
        background-color: $grey;
        transition: font-size 250ms;
        a {
            position: relative;
            float: left;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            text-decoration: none;
        }
        &:hover {
            
            background-color: $yellow;
            font-size: 24px;
        }
    }
}



