
label {
    display: block;
    padding: 10px 0;
}

.form {
    background: white;
    padding: 1rem;
    box-shadow: $grey;

    input, textarea {
        box-sizing: border-box; 
        padding: 10px;
        width: 100%;
        background: blue;
    }
}