
.grid_container {
   display: grid;
   grid-template-columns: repeat(8, 1fr);
}

.grid_item_01 {
   grid-column: 1 / span 8;
   grid-row: 1;
}
.grid_item_02 {
   grid-column: 1 / span 6;
   grid-row: 2;
}
.grid_item_03 {
   grid-column: 7 / span 2;
   grid-row: 2;
}
