.navBar {
   display: flex;
   background-color: $lightgrey;
   height: 30px;
   .nav_item {
      border: 1px solid #ccc;
      margin: 0 3px;
      padding: 0 3px;
      list-style-type: none;
   }

   .nav_link {
      font-size: 12px;
   }

}

