.navBar {
   display: flex;
   background-color: $lightgrey;
   height: 30px;
   .menu_left {
      display: flex;
   }
   .menu_right {
      display: flex;
      margin-left: auto;
   }
   .nav_item {
      // border: 1px solid #ccc;
      margin: 2px 4px;
      padding: 2px 4px;
      list-style-type: none;
      &:nth-last-child(-n+3) {
         margin-left: auto;
      }
   }

   .nav_link {
      font-size: 12px;
   }

}

