.post {
   background: white;
   padding: 5px;
   margin: 10px;
   box-sizing: border-box;
}

.post_item {
   font-size: 12px;
   padding: 0 5px;
}

.button_edit {
   padding: 0 5px;
   background: #dddddd;
   border: 1px solid #cccccc;
   border-radius: 2px;
   &:hover {
      background-color: $yellow;
   }
   a {
      text-decoration: none;
      &:visited, &:link {
      color: red;
      }
   }
}