.post {
   background: white;
   padding: 5px;
   margin: 10px;
   box-sizing: border-box;
   position: relative;
}
.post_table {
   width: 100%;
   margin-top: 15px; 
   border-collapse: collapse;

   .post_row {
      border-bottom: 1px solid $grey;
      &:nth-child(even) {
         background-color: $lightgrey;
      }
      &:nth-child(odd) {
         background-color: white;
      }
      &:last-child {
         border-bottom-style: none;
      }
      .post_item {
         font-size: 12px;
         padding: 0 5px;
      }
      
      .button_edit {
         width: 45px;
         position: relative;
         &:hover {
            background-color: $yellow;
         }
         a {
            position: absolute;
            float: left;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            text-decoration: none;
            &:visited, &:link {
            color: red;
            }
         }
      }
   }
}
