.post {
   background: $lightgrey;
   padding: 5px;
   margin: 20px;
   box-sizing: border-box;
   box-shadow: 10px 10px 20px $yellow;
   border-radius: 1px;
}
.post_table {
   width: 100%;
   margin-top: 15px; 
   border-collapse: collapse;

   .post_row {
      &:nth-child(even) {
         background-color: $lightgrey;
      }
      &:nth-child(odd) {
         background-color: white;
      }
      &:hover {
         > .button_edit {
            background-color: $yellow;

         }
      }
      .post_item {
         font-size: 12px;
         padding: 0 5px;
      }
      
      .button_edit {
         width: 45px;
         position: relative;
         a {
            position: absolute;
            float: left;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            text-decoration: none;
            &:visited, &:link {
            color: red;
            }
         }
      }
   }
}
