.sidebar {
   height: 300px;
   margin-top: 30px;
   .sidebarTabs {
      // background-color: $grey;
      overflow: hidden;
      font-size: 16px;
      .sidebarTab {
         width: 33.33%;
         outline: none;
         border: none;
         background-color: $lightgrey;
      }
      .active {
         background-color: $yellow;
      }
   }
   .sidebarContent {
      padding: 5px;
      background-color: #eeeeee;
      .tabContent {
         display: none;
         h3 {
            font-size: 16px;
         }
         p {
            font-size: 12px;
         }
         &#popular {
            display: block;
         }
      }
   }
}
