.sidebar {
   border: 1px solid $grey;
   height: 300px;
   .sidebarTabs {
      background-color: $grey;
      // border: 1px solid $lightgrey;
      overflow: hidden;
      font-size: 16px;
      .active {
         background-color: $yellow;
      }
   }
   .sidebarContent {
      padding: 5px;
      
      .tabContent {
         display: none;
         h3 {
            font-size: 16px;
         }
         p {
            font-size: 12px;
         }
         &#popular {
            display: block;
         }
      }
   }
}
